body {
    border: 1px solid red;
    width: 1020px;
    margin: 0 auto;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
    background-color: #275e90;
}

nav {
    float: right;
    border: 1px solid green;
}

nav img {
    height: 50px;
}

ul {
    background-color: #275e90;
}

#aside-Lateral {
    width: 20%;
}

#section-PanelLinks {
    background-color: #204a71;
    color: white;
    margin-bottom: 10px;
    text-align: center;
}

#section-PanelLinks img {
    width: 100%;
}

#art-ProgressBar img {
    width: 100%;
}

#img-LogoProgress {
    width: 20%;
}

#art-LogoProgress {
    background-color: #204a71;
    text-align: center;
    vertical-align: middle;
}

#span-PanelProgress {
    color: white;
}

main {
    border: 1px solid blue;
    display: inline-block;
}

#aside-Principal {
    border: 1px solid green;
    float: right;
    margin-bottom: 100px;
    width: 80%;
}

#aside-Principal article {
    
}

#art-Cubos {
    display: inline-block;
}