body{
    border: 1px solid red; 
    font-size: 16px;/*1em*/ 
    margin: 0px auto;
    max-width: 1024px; 
}
header{
    background: #D1E3EE;
}
header nav{
    background: #026DC6;
    border-radius: 5px;
    padding:1px 0px ;
    margin: 0px auto;
    width: 99%;
}
header nav form{
    float: right;
    margin-top: -35px;
    margin-right: 10px;
}
header nav form input{
    border-radius: 5px;
}
header nav form input[type="submit"]{
    background-color: green;
    border: 1px solid green;
    color: white;
}
header nav ul li{
    /* border: 1px solid red; */
    color: white;
    display: inline-block;
    margin-right: 20px;
}
#logo{ /*# es un id = "logo"*/
    margin: -150px 0px 0px 0px; /*margin-top: -150px;*/
    
}
#seccion01{
    margin-top: 10px;
}
#seccion01 article{
    text-align: center;
}
#seccion01 article img{
    border: 2px solid rgba(150,150,150,0.3);
    width: 98%;
}
#seccion02 article{
    display: inline-block;
    vertical-align: top;
    width: 32.8%;
}
#seccion02 article input[type="submit"]{
    background-color: white;
    border: 2px solid gray;
    border-radius: 3px;
    color: blue;
    margin-left: 35%;
}
.nito{
    font-weight: bold;
}
.unaSeccion{
    font-size: 4.5em; /* 4.5 x 15 */
}
.otraSeccion{
    font-size: 2.5em;
}
